@{
    ViewData["Title"] = "Home Page";
}

<h2>Fade in Overlay</h2>
<p>Hover over the image to see the effect.</p>

<section class="container">
    <article class="col-4 img_over">
        <img src="~/assest/maxresdefault.jpg" alt="Avatar" class="img_struc">
        <div class="overlay">
            <i class="fa-regular fa-face-smile info_icon"></i>
            <h3 class="info_txt">Projekt name</h3>
            <p class="info_sub_txt">Info about the projekt</p>
        </div>
    </article>
    <article class="col-4 img_over">
        <img src="~/assest/maxresdefault.jpg" alt="Avatar" class="img_struc">
        <div class="overlay">
            <i class="fa-regular fa-face-smile info_icon"></i>
            <h3 class="info_txt">Projekt name</h3>
            <p class="info_sub_txt">Info about the projekt</p>
        </div>
    </article>
    <article class="col-4 img_over">
        <img src="~/assest/maxresdefault.jpg" alt="Avatar" class="img_struc">
        <div class="overlay">
            <i class="fa-regular fa-face-smile info_icon"></i>
            <h3 class="info_txt">Projekt name</h3>
            <p class="info_sub_txt">Info about the projekt</p>
        </div>
    </article>
</section>