#filtreSection {
    background-color: #EEEEEE;
}

#filtreSection>h1 {
    margin: 0;
    padding-top: 5vh;
}

#filtreSection>button {
    position: relative;
    margin: 2vw;
    padding: 1% 5%;
    left: 25%;
}

#søgefelt {
    text-align: center;
    padding-bottom: 5vh;
}

.filtre {
    padding: 0;
}

.filtre>li {
    background: none;
    padding: 0;
    margin: 10px;
    width: auto;
}

#medvirkendeVindueStørrelse {
    max-width: 80vw;
}

.medvirkendeKort {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    float: left;
    background-color: #EEEEEE;
    position: relative;
    margin: 2vw;
    max-width: 20vw;
    border: solid;
    border-color: #BF1F2C;
    border-radius: 10px;
    text-decoration: inherit;
    /*Fjerner styling fra link*/
    color: inherit;
    left: 20%;
}

.medvirkendeBillede {
    width: 20vw;
    height: 200px;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px;
    grid-column: 1/ span 2;
    grid-row: 1;
}

.medvirkendeKort>h4 {
    grid-column: 1/ span 2;
    grid-row: 2;
    text-align: center;
}

.medvirkendeKort>p {
    font-style: italic;
    text-align: right;
    grid-column: 2;
    grid-row: 3;
    margin: 0;
    padding: 1vw;
}

.flag {
    max-width: 2vw;
    grid-column: 1;
    grid-row: 3;
    padding: 1vw;
}

@media screen and (max-width: 391px) {
    #filtreSection>button {
        left: 10%;
    }

    #søgefelt {
        padding-bottom: 2vh;
        padding-top: 2vh;
    }

    #medvirkendeVindueStørrelse {
        max-width: 100vw;
    }

    .medvirkendeKort {
        left: 4%;
        margin: 3vw;
        max-width: 40vw;
    }

    .medvirkendeBillede {
        width: 150px;
        height: 100px;
    }

    .medvirkendeKort>h4 {
        grid-column: 1/ span 2;
        grid-row: 2;
        text-align: center;
        font-size: 13px;
    }

    .medvirkendeKort>p {
        font-size: 11px;
    }

    .flag {
        max-width: 5vw;
    }
}

/***********************************/
/*De enkelte medvirkende siders CSS*/
/***********************************/

.tilbage {
    color: #BF1F2C;
    padding: 2%;

}

.medvirkendeIndiBillede {
    width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.medvirkendeBeskrivelse {
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.medvirkendeBeskrivelse>p {
    margin: 0;
}

.værker>button {
    left: 35%;
    padding: 7px 40px;
    margin-top: 5vh;
    width: 30vw;
}

.værkerUl {
    list-style-type: circle;
    background-color: #EEEEEE;
    color: black;
    border-radius: 10px;
}

.værkerUl>li {
    background: none;
    padding: 0;
    margin: 0;
    width: auto;
    border-style: none;
    border-color: #bf1f2c;
    border-radius: 10px;
    text-align: left;
}

.italic {
    font-style: italic;
}

.medvirkendeArrangement {
    padding-top: 100px;
    text-align: center;
}

@media screen and (max-width: 391px) {
    .medvirkendeIndiBillede {
        width: 80vw;
    }

    .medvirkendeBeskrivelse {
        width: 80vw;
    }

    .medvirkendeBeskrivelse>p {
        margin: 0;
    }

    .medvirkendeBeskrivelse>h1 {
        text-align: left;
    }

    .værker>button {
        left: 10%;
        width: 80vw;
    }

    .værkerUl {
        list-style-type: circle;
        background-color: #EEEEEE;
        color: black;
        border-radius: 10px;
    }

    .værkerUl>li {
        background: none;
        padding: 0;
        margin: 0;
        width: auto;
        border-style: none;
        border-color: #bf1f2c;
        border-radius: 10px;
        text-align: left;
    }

    .italic {
        font-style: italic;
    }

    .medvirkendeArrangement {
        padding-top: 100px;
        text-align: center;
    }

}