html{
    scroll-behavior: smooth;
}

header{
    background-color: #bf1f2c;
}
.navtoggle{
    display: none;
}
nav{
    display: none;
    position: relative;
}

.navtoggle:checked ~ nav {
    display: block;
}

#logo{
    float: right;
}
